<nav>
    <ul>
        <li><a href="{{ site.baseurl }}/" >{{ site.title }}</a></li>
        <li><a href="{{ '/music.html' | relative_url }}" {% if page.url == "/music.html" %} class="active" {% endif %}>music</a></li>
        <li><a href="{{ '/videos.html' | relative_url }}" {% if page.url == "/videos.html" %} class="active" {% endif %}>video</a></li>
        <li><a href="{{ '/photos.html' | relative_url }}" {% if page.url == "/photos.html" %} class="active" {% endif %}>photo</a></li>
        <li><a href="{{ '/about.html' | relative_url }}" {% if page.url == "/about.html" %} class="active" {% endif %}>about</a></li>
    </ul>
</nav>