---
layout: "wrapper"
---

<script>
    window.addEventListener("load", function() {
    // CHROME
        if (navigator.userAgent.indexOf("Chrome") != -1 ) {
        console.log("Google Chrome");
        }
    // FIREFOX
        else if (navigator.userAgent.indexOf("Firefox") != -1 ) {
        console.log("Mozilla Firefox");
        }
    // INTERNET EXPLORER
        else if (navigator.userAgent.indexOf("MSIE") != -1 ) {
        console.log("Internet Exploder");
        }
    // EDGE
        else if (navigator.userAgent.indexOf("Edge") != -1 ) {
        console.log("Internet Exploder");
        }
    // SAFARI
        else if (navigator.userAgent.indexOf("Safari") != -1 ) {
        console.log("Safari");
        }
    // OPERA
        else if (navigator.userAgent.indexOf("Opera") != -1 ) {
        console.log("Opera");
        }
    // YANDEX BROWSER
        else if (navigator.userAgent.indexOf("YaBrowser") != -1 ) {
        console.log("YaBrowser");
        }
    // OTHERS
        else {
        console.log("Others");
        }
    });
</script>

<div class="videos">
    {% for file in site.static_files %}
        {% if file.video %}
            <div class="video-item">
                <video
                    class="video video-js"
                    preload="auto"
                    muted="muted"
                    loop="loop"
                    autoplay
                    autobuffer
                    width="500"
                    height="500"
                    data-setup="{}"
                >
                    {% if file.extname == ".webm" %}
                        <source src="{{ site.baseurl }}{{file.path}}" type="video/webm">
                    {% endif %}
                    {% if file.extname == ".m4v" %}
                        <source src="{{ site.baseurl }}{{file.path}}" type="video/mp4">
                    {% elsif file.extname == ".ogg"%}
                        <source src="{{ site.baseurl }}{{file.path}}" type="video/ogg">
                    {% endif %}
                </video>
            </div>
        {% endif %}
    {% endfor %}
</div>