---
layout: "wrapper"
---

<div class="videos">
    {% for file in site.static_files %}
        {% if file.video %}
            <div class="video-item">
                <video
                    class="video video-js lazy"
                    preload="metadata"
                    muted="muted"
                    loop="loop"
                    autoplay
                    autobuffer
                    width="500"
                    height="500"
                    data-setup="{}"
                    data-src="{{ site.baseurl }}{{file.path}}"
                    poster="assets/videos/cover/cover.gif"
                >
                    <source data-src="{{ site.baseurl }}{{file.path}}" type="video/mp4">
                </video>
            </div>
        {% endif %}
    {% endfor %}
</div>